extends ../layouts/default

block intro
	.container.research-container
		.marker-container
			span.marker CONTACT >
			.inner-research
					.research-description
						h2
							.research-pillar HEADQUARTERS
							p.contact-description We'd love to hear from you! Visit us at Bren Hall, call us, or send us an email below.
	img(src= "/images/brenhallmap.png" class="map-container")
		
block content
	.container.container-contact
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			form(method='post')
				.row 
					.col-sm-8.col-md-6
						input(type='hidden', name='action', value='contact')
						.form-group(class=validationErrors.name ? 'has-error' : null)
							input(type='text', name='name.full', value=formData['name.full'], placeholder='NAME').form-control
						.form-group(class=validationErrors.email ? 'has-error' : null)
							input(type='email', name='email', value=formData.email, placeholder='EMAIL').form-control
						.form-group
							input(type='text', name='phone', value=formData.phone, placeholder='(PHONE NUMBER)').form-control
						.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
							label What are you contacting us about?
							select(name='enquiryType').form-control
								option(value='') (SELECT ONE)
								each type in enquiryTypes
									option(value=type.value, selected=formData.enquiryType == type.value)= type.label
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label Message
							textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
					aside: .information-container
						ul.contact-info
							li Phone:
							| (805-893-2726)
							li.email-container Email:
								div
									a(href="mailto:briucsb@ucsb.edu") queenan@brain.ucsb.edu
							.contact-rule
								p Feel free to contact us by phone or email, or send us a message and we'll contact you within 48 hours.
							.form-actions
								button(type='submit').btn.btn-primary Send

