extends ../layouts/default
mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id })).blog-post
		if post.image.exists
				img(src=post._.image.fit(350,350)).img
		.post-description
			h2: a(href='/blog/post/' + post.slug class="post-title")= post.title
			p.lead.text-muted
				img.calendar(src="/images/calendar.png")
				if post.publishedDate
					| #{post._.publishedDate.format('MMMM Do, YYYY')} 
				-//if post.author
				-//	| by #{post.author.name.first}
			p.lead.text-muted 		
				img.calendar(src="/images/globe.png")
				span= post.location
			p!= post.content.brief
			if post.content.extended
				p.read-more: a(href='/blog/post/' + post.slug) Read more...
			if post.categories && post.categories.length
				| CATEGORY: 
				each cat, i in post.categories
					a(href='/blog/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| , 
					else
block content
	canvas#light
	//-#fullpage.research-background
	#fullpage
		.container.research-container
			.marker-container
				span.marker RESEARCH >
				.inner-research
					.research-description
						h2
							.research-pillar LIGHT
						.info-pillar
							p.boldQ You can't solve a problem you can't see.
							.brain-pillar
							p.info-answer The world was changed by the Daguerrotype and the Polaroid, by moving pictures and YouTube, by digital cameras in every phone. Imagine how the world will change when we see the human brain cheaply, in real time, in natural settings. Our team is inventing new ways of imaging and recording brain activity. Combining expertise in electrical & computer engineering, physics, molecular biology, bioimage informatics, and marine biology, we are pushing the boundaries of what we can see the brain doing.
							.events-container
								ul.redirect-pillar
									li.style-pillar
										a(href='/force' class='link-pillar')= 'RE:FORCE'
									li.style-pillar
										a(href='/time' class='link-pillar')= 'RE:TIME'
									li.style-pillar
										a(href='/action' class='link-pillar')= 'RE:ACTION'
										
	script(src='/js/effects/light.js')


